<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= story.duration %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= story.weight %>
  </p>

</div>
