<h1>Editing story</h1>

<%= render "form", story: @story %>

<br>

<div>
  <%= link_to "Back to stories", manage_path, class:"button-1" %>
  <%= link_to "Back to home page", root_path, class:"button-1" %>
</div>
