<h1>Editing story</h1>

<%= render "form", story: @story %>

<br>

<div>
  <%= link_to "Show this story", @story, class:"button-1" %> |
  <%= link_to "Back to stories", stories_path, class:"button-1" %>
</div>
