<h1 class="header">Editing story</h1>

<%= render "form", story: @story %>

<br>

<div class="buttons">
  <%= link_to "Show story", @story, class:"button-1" %>
  <%= link_to "Back to stories", manage_path, class:"button-1" %>
  <%= link_to "Back to home page", root_path, class:"button-1" %>
</div>
