<p style="color: green"><%= notice %></p>
<h1>You have <%= @coupons %> coupons left</h1>

<h2>Select a show</h2>

<div id="stories">
  <% @stories.each do |story| %>
   <%= link_to story.title %>
  <% end %>
</div>
